# PostgreSQL Configuration
POSTGRES_DB=postgres
POSTGRES_USER=biblioteca
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_HOST=biblioteca-pg
POSTGRES_SCHEMA=public

# Redis Configuration
DRAGONFLY_PASSWORD=password
DRAGONFLY_HOST=biblioteca-df
DRAGONFLY_PORT=6379

# Security
# openssl rand -hex 32
JWT_SECRET_KEY=verysecurekey
JWT_COOKIE_SECURE=false
# JWT_COOKIE_SAMESITE=lax

# Uncomment this in production and set it to true
# JWT_COOKIE_CSRF_PROTECT=false

# JWT_ACCESS_TOKEN_EXPIRES_MINUTES=15
# JWT_REFRESH_TOKEN_EXPIRES_DAYS=30

ADMIN_PASSWORD='admin'
