# PostgreSQL Configuration
POSTGRES_DB=postgres
POSTGRES_USER=biblioteca
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_HOST=biblioteca-pg
POSTGRES_SCHEMA=public

# Redis Configuration
DRAGONFLY_PASSWORD=password
DRAGONFLY_HOST=biblioteca-df
DRAGONFLY_PORT=6379

# Security
# openssl rand -hex 32
COOKIE_KEY=verysecurekey

# Features
NO_LOGIN_MODE=false

